body {
    background-color: #5d5c61;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

header {
    background-color: #379683;
}

nav {
    background-color: #b1a296;
}

section {
    background-color: #557a95;
}